body {
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 2rem;
}

p {
  line-height: 18px;
}

li::marker {
  color: #3e3e3e;
}

#root {
  display: flex;
  scale: 1;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.divider {
  height: 1px;
  display: block;
  border-bottom: 1px dashed #ccc;
}

.page {
  background: white;
  width: 940px;
  height: 1330px;
  box-sizing: border-box;
  padding: 60px;
  margin: auto;
  overflow: visible;
  position: relative;
  /* border: 1px solid black; */
}

.personal .name {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 3rem;
}

.personal .position {
  margin-top: 0;
  margin-bottom: 8px;
  color: #c4881c;
  font-weight: 500;
  font-size: 20px;
}

.personal .contact {
  display: flex;
  flex-direction: row;
}

.personal .contact i {
  transform: translateY(2px);
  color: #c4881c;
  margin-right: 3px;
  font-size: 14px;
}

.personal .contact>div {
  margin-right: 1rem;
  font-size: 13px;
  font-weight: 700;
  color: #3e3e3e;
  display: flex;
  align-items: center;
}

.personal .contact>div:nth-child(1) {
  margin-right: 0;
  flex: 0 0 150px;
  max-width: 150px;
}

.personal .contact a {
  font-size: 13px;
  font-weight: 700;
  color: #3e3e3e;
  text-decoration: none;
}

.section-title {
  color: #19273c;
  font-weight: 500;
  font-size: 22px;
  border-bottom: 3px solid #19273c;
  margin-bottom: 1rem;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-bottom: 4px;
  text-transform: uppercase;
}

.profile ul {
  margin-top: 10px;
  padding-left: 18px;
  color: #3e3e3e;
}

.profile p {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 14px;
}

.tech-skills ul {
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 14px;
}

.tech-skills ul li {
  margin-bottom: 8px;
}

.tech-skills ul li .divider {
  margin: 12px 0;
}

.tech-skills ul li p.label {
  margin: 0;
  margin-bottom: 6px;
  color: #c4881c;
  font-size: 16px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.tech-skills ul li p.list {
  margin: 0;
  color: #3e3e3e;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.experience .exp-role {
  color: #19273c;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
  font-family: "Rubik", sans-serif;
}

.experience .exp-company {
  color: #c4881c;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
  font-family: "Inter", sans-serif;
}

.experience .exp-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
  font-family: "Inter", sans-serif;
}

.experience .exp-time {
  margin-right: 15px;
}

.experience .exp-time,
.experience .exp-where {
  color: #3e3e3e;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.experience .exp-time span:nth-child(1),
.experience .exp-where span:nth-child(1),
.experience .exp-url span:nth-child(1) {
  margin-right: 4px;
  transform: translateY(1px);
}

.experience .exp-url span:nth-child(1) {
  margin-right: 0;
}

.experience ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 18px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.experience ul p {
  color: #3e3e3e;
  margin: 0;
  margin-bottom: 4px;
}

.experience .exp-url {
  color: #3e3e3e;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  margin-bottom: 4px;
}

.experience .list-title {
  color: #3e3e3e;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  margin-bottom: 4px;
}

.experience .divider {
  margin: 1rem 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.achievements .row .col-6:nth-child(1) {
  padding-right: 12px;
  max-width: calc(50% - 12px);
}

.achievements .row .col-6:nth-child(2) {
  padding-left: 12px;
  max-width: calc(50% - 12px);
}

.achievements .item {
  display: flex;
}

.achievements .divider {
  margin: 1rem 0;
}

.achievements .item .icon-wrapper {
  /* text-align: center; */
  flex: 0 0 45px;
  max-width: 45px;
}

.achievements .item .icon {
  font-size: 30px;
  color: #c4881c;
}

.achievements .item p {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.achievements .item p.label {
  font-size: 16px;
  font-weight: 700;
  color: #19273c;
  margin-bottom: 6px;
}

.achievements .item p.desc {
  font-size: 14px;
  font-weight: 500;
  color: #3e3e3e;
  min-height: 55px;
}

.education .major {
  font-size: 18px;
  font-weight: 700;
  color: #19273c;
  margin-bottom: 4px;
}

.education .where {
  font-size: 16px;
  font-weight: 700;
  color: #c4881c;
  margin-bottom: 4px;
}

.education .date {
  font-size: 14px;
  font-weight: 700;
  color: #3e3e3e;
}

.education .date span:nth-child(1) {
  margin-right: 4px;
  transform: translateY(1px);
}

.certifications .name {
  font-size: 16px;
  font-weight: 700;
  color: #19273c;
  margin-bottom: 4px;
}

.certifications .name a {
  font-size: 16px;
  font-weight: 700;
  color: #19273c;
  text-decoration: none;
}

.certifications .company {
  font-size: 14px;
  color: #3e3e3e;
}